body,ul,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
}
#box{
    margin:40px 20px 10px;
    overflow: hidden;
}
ul{
    width: 18%;
    margin:0 1%;
    float: left;
}
ul li{
    margin-top:10px;
    margin-bottom: 20px;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    transition: all 0.5s;
}
ul li div{
    background: url(img/loading1.gif) no-repeat center center;
    background-size: auto;
}
ul li img{
    width: 100%;
    height: 100%;
    opacity:0;
}
ul li p{
    font-size: 12px;
    padding: 15px;
}
ul li:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 3px rgba(0,0,0,.02), 0 16px 32px -4px rgba(0,0,0,.17);
    transition: all 0.5s;
}
#box:after{
    content: '';
    display: block;
    clear: both;
}